{% extends "base.html" %}
{% block title %}Location{% endblock %}

{% block content %}
    <div class="row bg-primary pt-5">
        <div class="container pt-5">
            <div class="col-md-12 mt-5 mb-5">
                <h2 class="">Vistors Locations</h2>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="container">
            <div class="col-md-12 mt-5">
                <table id="table_location" class="table display table-stripped table-bordered">
                    <thead class="">
                        <th>Link</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Created</th>
                    </thead>
                    <tbody>
                        {% for location, urls in vals %}
                        <tr>
                            <td><a target="_blank" href="{{base_url + '/' + urls.short}}">{{base_url + '/' + urls.short}}</a></td>
                            <td>{{location.country}}</td>
                            <td>{{location.city}}</td>
                            <td>{{location.created_at.strftime("%d %b, %Y %H:%M")}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}