{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row bg-primary pt-5">
    <div class="container">
        <div class="col-md-12 mt-5 mb-5 pt-5">
            <h2 class="">Dashboard</h2>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ image_file }}">
                    <div class="media-body">
                        <h2 class="account-heading mt-2">{{ current_user.name }}</h2>
                        <p class="text-secondary">{{ current_user.email }}</p>
                    </div>
                </div>
                <div class="card">
                    <!-- <h5 class="card-header">Top 5 Cities</h5> -->
                    <div class="card-body text-center m-3">
                        <h3>{{ total_hits }}+ Total Link Clicks</h3>
                        <a href="{{ url_for('myurls', page_num=1) }}" class="btn btn-primary btn-block2 mt-2">View
                            Stats</a>
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header bg-primary text-white">Top Platforms</h5>
                            <div class="card-body">
                                {% for platform in platforms %}
                                <p class="card-text border-bottom">{{ platform.platform }}<span
                                        class="pull-right"><strong>{{ platform.count }}</strong></span> </p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header badge-success text-white">Top Browsers</h5>
                            <div class="card-body">
                                {% for browser in browsers %}
                                <p class="card-text border-bottom">{{ browser.browser }}<span
                                        class="pull-right"><strong>{{ browser.count }}</strong></span> </p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header badge-danger text-white">Top OS</h5>
                            <div class="card-body">
                                {% for os in uos %}
                                <p class="card-text border-bottom">{{ os.os }}<span
                                        class="pull-right"><strong>{{ os.count }}</strong></span> </p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <!-- <legend class="mb-4 mt-4">Update your profile</legend> -->
                        <div class="form-group mt-5">
                            {{ form.name.label(class="form-control-label") }}

                            {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-primary btn-block") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h5 class="card-header bg-primary text-white">Dashboard</h5>
                <div class="card-body">
                    <p class="card-title">{{ greeting }}</p>
                    <h5 class="card-title">{{ current_user.name }}</h5>
                    <br>
                    <p class="card-text border-bottom">Total Links <span
                            class="pull-right badge badge-primary"><strong>{{ link_count }}</strong></span> </p>
                    <a href="{{ url_for('myurls', page_num=1) }}" class="btn btn-primary">My Links</a>
                </div>
            </div>

            <div class="card mb-3">
                <h5 class="card-header text-white badge-success">Top 5 Links</h5>
                <div class="card-body">
                    {% for top_hit in top_hits %}
                    <p class="card-text border-bottom"><a target="_blank"
                            href="{{base_url + '/' + top_hit.short}}">{{base_url + '/' + top_hit.short}}</a><span
                            class="pull-right"><strong>{{ top_hit.hits }}</strong></span> </p>
                    {%endfor%}
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Top 5 Cities</h5>
                <div class="card-body">
                    {% for location in loc %}
                    <p class="card-text border-bottom">{{ location.city }}<span
                            class="pull-right badge badge-success"><strong>{{ location.count }}</strong></span> </p>
                    {%endfor%}
                    <p class="card-text border-bottom"> </p>
                    <a href="{{ url_for('locations') }}" class="btn btn-primary">All Locations</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}