{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

  <header class="masthead text-center text-white">
      <div class="masthead-content">
          <div class="container">
              <h1 class="masthead-heading mb-0">Tinly</h1>
              <h2 class="masthead-subheading mb-0">Shorten URLs now</h2>
              <a href="{{ url_for('about') }}" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
          </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
      <div class="row bg-primary">
          <div class="container pt-5">
                <div class="col-md-12">
                    <form class="form-inline" id="form" role="form" action="#", method="post">
                        <div class="input-group flex-fill">
                            <input type="text" class="form-control input-lg" type="url" name="url" id="url" placeholder="Shorten URL" pattern="https://.*" size="" required>
                          <div class="input-group-append">
                            <button type="submit" class="btn bg-black text-white mb-2">Shorten URL</button>
                          </div> 
                        </div>
                      </form>
                      <!-- <h4 class="pb-2" id="output"></h4> -->
                      <div id="url-wrapper" class="" style="display:none">
                        <div class="input-group flex-fill">
                            <input type="text" class="form-control input-lg" id="output" placeholder="Shorten URL">
                          <div class="input-group-append">
                            <button onclick="CopyText()" onmouseout="outFunc()" class="btn btn-blue mb-2"><span class="tooltiptext" id="txttooltip">Copy</span></button>
                          </div>
                          <div id="qr"></div>
                        </div>
                      </div>
                    <p class="p-2">By clicking SHORTEN URLs, you are agreeing to Tinly's Terms of Service, Privacy Policy, and Acceptable Use Policy</p>
                </div>
            
          </div>
      </div>
  </section>

  <section>
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                      <img class="img-fluid rounded-circle" src="https://reactlink.com/static/app-assets/images/user/12.jpg" alt="Tinly">
                  </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                      <h2 class="display-4">We're Tinly...</h2>
                      <p>Free custom URL Shortener with many features that gives you better quality for links shortening. Shortened URLs will never expire. We do not display ads during direct redirecting to the original url.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section>
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="p-5">
                      <img class="img-fluid rounded-circle" src="https://www.bnl.gov/today/body_pics/2017/06/stephanhruszkewycz-hr.jpg" alt="Tinly">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="p-5">
                      <h2 class="display-4">We salute you!</h2>
                      <p>Track each shortened link and measure its performance to understand it. Detailed analytics provides you info about clicks, social media clicks, page referrer, devices, brands, browsers, systems, geo location, bots.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}