{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row bg-primary pt-5">
    <div class="container">
        <div class="col-md-12 mt-5 mb-5 pt-5">
            <h2 class="">Register</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="omb_login mt-5">
                <h3 class="omb_authTitle">Sign up or <a href="{{ url_for('login') }}">Login</a></h3>
                <div class="row omb_socialButtons">
                    <div class="col-md-4">
                        <a href="{{ url_for('google_login') }}" class="btn btn-lg btn-block omb_btn-google mb-2">
                            <i class="fa fa-google-plus visible-xs"></i>
                            <span class="hidden-xs">Google</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ url_for('facebook_login') }}" class="btn btn-lg btn-block omb_btn-facebook mb-2">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ url_for('github_login') }}" class="btn btn-lg btn-block omb_btn-github">
                            <i class="fa fa-github visible-xs"></i>
                            <span class="hidden-xs">Github</span>
                        </a>
                    </div>
                </div>

                <div class="row omb_loginOr">
                    <div class="col-xs-12 col-sm-12">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr">or</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 mb-5">
            {% include 'flash_messages.html' %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <!-- <legend class="border-bottom mb-4">Join Today</legend> -->
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}

                        {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
            <br>
            Already have an account? <a class="mb-5" href="{{ url_for('login') }}"> Log In</a>
        </div>
    </div>
</div>
<br>
{% endblock %}