{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block
content %}
<div class="row bg-primary pt-5">
  <div class="container">
    <div class="col-md-12 mt-5 mb-5">
      <h2 class="">Reset Password</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-8 offset-md-2 mt-5 mb-5">
      <div class="content-section">
        {% include 'flash_messages.html' %}
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
              {{ form.email.label(class="form-control-label") }} {% if
              form.email.errors %} {{ form.email(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
